
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, #ebebeb;
  margin: 0;
  padding: 0;
  font-size: 18px
}

.container {
  background-color: #eaeaea;
  width: 1180px;
  margin: 0 auto;
  background-image: url(../images/concrete_seamless.png);
}

header {
  width: 100%;
  height: 70px;
  margin-top: 0px;
  background: #ffffff;
  border-bottom: 2px;
  border-style: solid;
  border-color:#e1e1e1;

}
a {
  color: #b1aca7;
  font-size: 15px;
  font-family: Arial;
}
.header_name {
  color: #ffffff;
  font-size: 18px;
  font-family: Georgia, Times, Times New Roman, serif;
  width: 200px;
  height: 55px;
  padding-top: 15px;
  margin-left: 125px;
  background: #4aaaa5;
  float: left;
}

.about_Title{
  margin-left: 515px;
  height: 70px;
  padding-top: 25px;
  width: 80px;
  float: left;
}
.portfolio_Title{
  height: 70px;
  padding-top: 25px;
  width: 80px;
  float: left;
}

.contact_Title{
  height: 70px;
  padding-top: 25px;
  width: 80px;
  float: left;
}

/* --------------------------------------- */
p {
  font-size: 16px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #b0b1b1;
  line-height: 22px;
}

  h1 {
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    font-family:'Georgia', Times, Times New Roman, serif;
}
  h2 {
    color: #4aaaa5;
    font-size: 26px;
    font-family:'Georgia', Times, Times New Roman, serif;
    text-align: left;
  }

  h3 {
    color: #4aaaa5;
    font-size: 22px;
    text-align: center;
    font-family:'Georgia', Times, Times New Roman, serif;
  }

  /* --------------------------------------- */

.contentArea {
  position: relative;
  color: #696969;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 125px;
  float: left;
  width: 960px;
  height: 510px;

}

.box_1_Title{
position: absolute;
top: 10px;
left: 10px;
width: 605px;
padding-top: 25px;
margin-left: 15px;
height: 40px;
border-bottom: 3px solid #e1e1e1;
}

.box_1_frame{
position: absolute;
top: 10px;
width: 650px;
height: 380px;
background: #ffffff;
border: 2px solid #e1e1e1;
border-bottom: 1px solid #e1e1e1;
float: left;

}

.box_1_content{
  position: absolute;
  top: 90px;
  left: 10px;
  width: 605px;
  padding-top: 25px;
  margin-left: 15px;
}

.box_2_Title{
position: absolute;
top: 10px;
left: 690px;
width: 245px;
padding-top: 25px;
margin-left: 15px;
height: 40px;
border-bottom: 3px solid #e1e1e1;
}

.box_2_Frame{
position: absolute;
top: 10px;
left: 690px;
width: 270px;
height: 165px;
background: #ffffff;
border: 2px solid #e1e1e1;
}

.box_2_content{
position: absolute;
top: 10px;
left: 710px;
width: 205px;
padding-top: 85px;
margin-left: 20px;
height: 60px;
}

/* --------------------------------------- */

footer {
  position: absolute;
  bottom: 0;
    width: 95%;
    height: 25px;
    padding: 30px;
    border-top: 10px;
    border-style: solid;
    border-color: #4aaaa5;
    float: left;
    background: #666666
  }

}
.font_foother {
  font-size: 7px;
  font-family: Arial;
  color: #b0b1b1;
}



.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
